# Dependencies
node_modules/

# Angular
.angular/
dist/

# Nest / TypeScript
coverage/

# Environment files
.env
.env.*
!.env.example

# macOS
.DS_Store

# Logs
*.log

# VS Code local settings
.vscode/

# TypeScript incremental build artifacts
*.tsbuildinfo